@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-2">
        <ul>
            <li>Category 1</li>
            <li>Category 2</li>
            <li>Category 3</li>
            <li>Category 4</li>
            <li>Category 5</li>
            <li>Category 6</li>
            <li>Category 7</li>
        </ul>
    </div>
    <div class="col-10">
        <div class="row" style="height: 400px;">
            Carousel
        </div>
        <div class="row" style="height: 200px;">
            Newest items/deals/etc.
        </div>
        <div class="row" style="height: 200px;">
            Newest items/deals/etc.
        </div>
        <div class="row" style="height: 200px;">
            Newest items/deals/etc.
        </div>
    </div>
</div>