<h2>Category</h2>
<hr />

<div class="row">
    <div class="col-2">
        <h4>Filters</h4>
        <ul>
            <li>Condition (new/refurbished/etc)</li>
            <li>Price range</li>
            <li>Distributor</li>
            <li>Availability (in stock/out of stock)</li>
            <li>More...</li>
        </ul>
    </div>
    <div class="col-10">
        <div class="row">
            Pagination, sort by, # of items per page, Swap between list view/grid view, etc.
        </div>
        <div class="row">
            Items listed here
        </div>
    </div>
</div>
